/*.c3-axis-y2, .c3-axis-y { width: 100px}*/


.rt-tr .rt-th {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important; 
    font-size: 16px 
}

.rt-tr-group:last-child .rt-tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.ReactTable .rt-thead.-header {
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.8) !important;
}

.ReactTable .rt-thead {
    background-color: #F2F2F2;
    color: #111;
}


.disk-legend-item { 
    display: inline-block; 
    border: 1px dotted lightgray; 
    padding: 8px 8px; 
    margin: 8px 8px;
    width: 160px;
}
.disk-legend { text-align: center; padding: 14px 0px }
.disk-kind-network { color: /* #161A9E */ #b35800 }
.disk-kind-ram { color: #157626 }
.disk-kind-swap { color: #ff227b
}
.disk-kind-block { color: black }

.disk-no-data { 
    margin-top: 32px;
    color: lightslategrey !important;
    display: inline-block;
    border: 1px dotted silver;
    backgroundColor: white;
}

.version span {
    color: #AAAAAA !important;
    font-size: 11px;
}

.version svg {
    color: #FFF !important;
    font-size: 12px;
 }


table.benchmark-progress {
}

table.benchmark-progress td {
    padding: 2px 8px;
    text-align: left;
}

table.benchmark-progress td.step-speed {
    min-width: 108px;
    text-align: right;
}
table.benchmark-progress td.step-duration {
    min-width: 80px;
    text-align: right;
}

table.benchmark-progress td.step-status  {
    width: 28px;
    max-width: 28px;
    /* width: 20px; */
}

/*
.step-progress {
    height: 1px !important;
    color: #666 !important;
    background-color: #DDD !important;
    animation-duration: 100ms !important;
}*/

.color-lab {
    color: #ff0f17;
    
}