/*.c3-axis-y2, .c3-axis-y { width: 100px}*/


.rt-tr .rt-th {
    padding-top: 1em !important;
    padding-bottom: 1em !important; 
    font-size: 19px 
}

.disk-legend-item { 
    display: inline-block; 
    border: 1px dotted lightgray; 
    padding: 8px 8px; 
    margin: 8px 8px;
    width: 190px;
}
.disk-legend { text-align: center; padding: 16px 0px }
.disk-kind-network { color: /* #161A9E */ #b35800 }
.disk-kind-ram { color: #157626 }
.disk-kind-swap { color: #ff227b
}
.disk-kind-block { color: black }

.disk-no-data { 
    margin-top: 32px;
    color: lightslategrey !important;
    display: inline-block;
    border: 1px dotted silver;
    backgroundColor: white;
}

.version span {
    color: #AAAAAA !important;
    font-size: 11px;
}

.version svg {
    color: #FFF !important;
    font-size: 12px;
 }