.TheBody {
    background: url('./images/background-wallpper-blue-1950.jpg');
    background-repeat:repeat;
    background-position:center;
    background-size:cover;
    
}

@media screen and (max-width: 5120px) {
    .TheBody {
        background: url('./images/background-wallpper-blue-5120.jpg');
        background-repeat:repeat;
        background-position:center;
        background-size:cover;
    }
}

@media screen and (max-width: 3840px) {
    .TheBody {
        background: url('./images/background-wallpper-blue-3840.jpg');
        background-repeat:repeat;
        background-position:center;
        background-size:cover;
    }
}

@media screen and (max-width: 2560px) {
    .TheBody {
        background: url('./images/background-wallpper-blue-2560.jpg');
        background-repeat:repeat;
        background-position:center;
        background-size:cover;
    }
}

@media screen and (max-width: 1950px) {
    .TheBody {
        background: url('./images/background-wallpper-blue-1950.jpg');
        background-repeat:repeat;
        background-position:center;
        background-size:cover;
    }
}
