#columns-chooser-title {
    padding: 12px 20px 2px 20px
}

#columns-chooser-content .cs-group {
    margin: 9px 2px 2px 0px;
    font-size: 100%;
    font-weight: bold;
    /*border: 1px solid #A0FFFF*/

    min-width: 896px;
}

#columns-chooser-content .cs-line {
    /*
    margin: 1px 1px 1px 1px;
    */
    font-size: 90%;
    margin-left: -3px; /* depends on <Checkbox/> styles */
    margin-top: 0px;
    margin-bottom: 0px;
    /*border: 1px solid #FFA0FF*/

}

#columns-chooser-content tr {
    /*border-spacing: 10px !important;*/
    /*
    font-size: 90%;
    margin-left: -15px; !* depends on <Checkbox/> styles *!
    margin-top: -12px;
    margin-bottom: -2px;
    !*border: 1px solid #FFA0FF*!
    */
    border: 1px solid #FFA0FF
}

#columns-chooser-content td {
    position: relative;
    top: 0px;
    font-size: 90%;
    /*
    // margin-left: -15px; !* depends on <Checkbox/> styles *!
    // margin-top: -12px;
    // margin-bottom: -2px;
    !*border: 1px solid #FFA0FF*!
    */
}

.rt-th  { font-size: 15px !important;}
.rt-td  { font-size: 14px !important; padding: 10px 3px 6px 3px !important;}



.default-priority {color: gray}
.nice-priority { color: #3e7327}
.bad-priority { color: #4d3534}

.rt-priority { color: brown}
.nice-word {color: #111}